/* GLOBAL */
/* Nav */
nav {
  background-color: lightblue;
  width: 100%;
  overflow: auto;
}
nav a {
  float: left;
}
nav .homeIcon {
  height: 7rem;
  width: 7rem;
  margin-left: 3rem;
}
nav ul li {
  display: inline-block;
  text-transform: uppercase;
}
nav ul li:first-child {
  margin-left: 65%;
}
nav ul li a {
  margin: 2rem 1rem;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
  color: rgb(18, 177, 124);
}
nav ul li .active {
  border-right: 1px black solid;
}

/* Nav Bottom Design */
#navStripes {
  height: 2rem;
  background: repeating-linear-gradient(
    45deg,
    #2d2c2c,
    #2d2c2c 1rem,
    #ffffff 1rem,
    #ffffff 1.5rem
  );
}

/* Footer */
.footer {
  background-color: palegreen;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer img {
  height: 2rem;
  width: 2rem;
  margin: 1rem 0.75rem;
}

/* INDEX */
#upcomingDrops {
  width: 90%;

  margin: auto;
}
#neverOutOfStyle {
  width: 90%;
  margin: auto;

  margin-bottom: 2rem;
}
.productBrand {
  width: 11rem;
  height: 13rem;

  display: inline-block;
  margin: 0 3rem;
}

/* ABOUT */
#aboutSneakerNews p {
  line-height: 1.75rem;
  margin: 0 1rem 1rem 2rem;
}
#aboutSneakerNews img {
  margin: 0.5rem;
}

/* NEWS */
#newsSneakerNews {
  line-height: 1.75rem;
  margin: 0 1rem 1rem 2rem;
}

/* SELL */
#sellSneakerNews {
  line-height: 1.75rem;
  margin: 0 1rem 1rem 2rem;
}
